.gallery-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-before,
.photo-after {
  flex: 2;
  text-align: center;
}

.icon {
  flex: 1;
  text-align: center;
  font-size: 2rem;
}

.photo-before img,
.photo-after img {
  width: 100%;
  height: auto;
}

/* gallery first grid*/

/* gallery first grid*/

/* gallery second grid*/

.grid-container-1 {
  width: 90%;
  margin: 5rem auto 0 5rem;
  height: 25rem;
  display: grid;
  background-color: black;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 5rem 3.1rem 14.3rem 2.5rem;
}

.grid-items {
  position: relative;
  background-color: black;
  color: white;
  border: 0.06rem solid white;
}

.grid-items::after {
  position: absolute;
  font-size: 1.5rem;
  top: 0.6rem;
  right: 0.9rem;
  font-weight: bold;
}

.grid-items::before {
  position: absolute;
  font-size: 1.5rem;
  top: 0.6rem;
  left: 0.9rem;
  font-weight: bold;
}

.grid-items-1::before {
  content: "Land Rover";
}

.grid-items-4::after {
  content: "Before";
}

.grid-items-6::before {
  content: "After";
}

.grid-items-7::after {
  content: "";
  background-image: url("../photos/landrover-before.jpg");
  background-size: cover;
  width: 95%;
  height: 90%;
}

.grid-items-8::after {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  background-image: url("../photos/arrow-right-solid.svg");
  width: 0.8rem;
  height: 0.9rem;
}

.grid-items-9::after {
  content: "";
  background-image: url("../photos/landrover-after.jpg");
  background-size: cover;
  width: 95%;
  height: 90%;
}

/* gallery second grid*/

/* gallery third grid*/

.grid-container-2 {
  width: 90%;
  margin: 5rem auto 0 5rem;
  height: 25rem;
  display: grid;
  background-color: black;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 5rem 3.1rem 14.3rem 2.5rem;
}

.grid-items2 {
  position: relative;
  background-color: black;
  color: white;
  border: 0.06rem solid white;
}

.grid-items2::after {
  position: absolute;
  font-size: 1.5rem;
  top: 0.6rem;
  right: 0.9rem;
  font-weight: bold;
}

.grid-items2::before {
  position: absolute;
  font-size: 1.5rem;
  top: 0.6rem;
  left: 0.9rem;
  font-weight: bold;
}

.grid-items2-1::before {
  content: "Porche";
}

.grid-items2-4::after {
  content: "Before";
}

.grid-items2-6::before {
  content: "After";
}

.grid-items2-7::after {
  content: "";
  background-image: url("../photos/porche-before.jpg");
  background-size: cover;
  width: 95%;
  height: 90%;
}

.grid-items2-8::after {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  background-image: url("../photos/arrow-right-solid.svg");
  width: 0.8rem;
  height: 0.9rem;
}

.grid-items2-9::after {
  content: "";
  background-image: url("../photos/porche-after.jpg");
  background-size: cover;
  width: 95%;
  height: 90%;
}

/* gallery third grid */
